
pixoo:
  baseUrl: 'http://localhost'
  size: 64
  animation-speed-factor: 1.4
  bridge:
    port: 4000
    max-image-size: 5MB
    health:
      forward: true
    docs:
      enabled: true
    log:
      level: INFO

server:
  port: ${pixoo.bridge.port}
  forward-headers-strategy: framework
  use-forward-headers: true
  shutdown: 'graceful'
  error:
    include-message: always

spring:
  lifecycle:
    timeout-per-shutdown-phase: 1m
  jackson:
    deserialization:
      fail-on-unknown-properties: true
  servlet:
    multipart: # upper limit for uploaded images
      max-file-size: ${pixoo.bridge.max-image-size}
      max-request-size: ${pixoo.bridge.max-image-size}

springdoc:
  api-docs:
    enabled: ${pixoo.bridge.docs.enabled}
  swagger-ui:
    enabled: ${pixoo.bridge.docs.enabled}
    tryItOutEnabled: true

logging:
  level:
    de.simplyroba.pixoobridge: ${pixoo.bridge.log.level}
