
pixoo:
  baseUrl: 'http://localhost'
  size: 64
  animation-speed-factor: 1.4
  max-image-size: 2MB
  health:
    forward: true
  docs:
    enabled: true
  log:
    level: INFO
  bridge:
    max-image-size: 2MB
    health:
      forward: true
    docs:
      enabled: true
    log:
      level: INFO

server:
  port: 4000 # TODO add overwrite at some point later
  shutdown: 'graceful'
  error:
    include-message: always

spring:
  lifecycle:
    timeout-per-shutdown-phase: 1m
  jackson:
    deserialization:
      fail-on-unknown-properties: true
  servlet:
    multipart: # upper limit for uploaded images
      max-file-size: ${pixoo.bridge.max-image-size}
      max-request-size: ${pixoo.bridge.max-image-size}

springdoc:
  api-docs:
    enabled: ${pixoo.bridge.docs.enabled}
  swagger-ui:
    enabled: ${pixoo.bridge.docs.enabled}
    tryItOutEnabled: true

logging:
  level:
    de.simplyroba.pixoobridge: ${pixoo.bridge.log.level}
